#template1 {
    font-family: 'Georgia', serif;
    background: #ffffff;
    color: #2c3e50;
  
    h2 {
      color: #2c3e50;
    }
  
    h4 {
      color: #34495e;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }
  
    ul {
      list-style: disc inside;
    }
  }
  