#template2 {
    font-family: 'Arial', sans-serif;
    background: #f8f9fa;
    color: #333;
  
    h2 {
      color: #28a745;
    }
  
    h4 {
      color: #20c997;
      border-left: 4px solid #20c997;
      padding-left: 10px;
    }
  
    ul {
      list-style: circle inside;
    }
  }