#template3 {
    font-family: 'Courier New', monospace;
    background: #222;
    color: #f1f1f1;
  
    h2 {
      color: #ffcc00;
    }
  
    h4 {
      color: #ffa500;
      text-transform: uppercase;
    }
  
    ul {
      list-style: square inside;
    }
  }